services:
  reverse-proxy:
    image: nginx:1.27-alpine
    ports:
      - "8080:80"
    volumes:
      - ./infra/nginx/app.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks: [ frontend ]
    restart: unless-stopped

  app:
    build:
      context: ./apps/web
    env_file: [ .env ]
    expose:
      - "8000"
    depends_on:
      - db
    networks: [ frontend, backend ]
    volumes:
      - ./apps/web/logs:/app/logs
    restart: unless-stopped

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    expose:
      - "3306"
    networks: [ backend ]
    restart: unless-stopped

volumes:
  db_data:


networks:
  frontend:
  backend:
